<div class="row ">
  <div class="eight columns">
    <% @events.each do |event| %>
      <card class="event-card">
        <h4><%= event.title %></h4>
        <img src="http://via.placeholder.com/540x300">
        <div class="row">
          <div class="six columns">
            <p class="major-info"><%= event.location %></p>
            <p class="major-info"><%= event.start_at.strftime('%Y/%m/%d %H:%M') %></p>
          </div>
          <div class="six columns">
            <p class="ticket-price"><%= event.ticket_price %>円</p>
            <%= link_to 'Purchase', new_event_purchase_path(event), class: 'button button-primary' %>
          </div>
        </div>
      </card>
    <% end %>
  </div>
  <sidebar class="four columns categories-sb">
    <card class="categories-card">
      <h4>Categories</h4>
      <ul>
        <li><a>KONKATSU</a></li>
        <li><a>KOIKATSU</a></li>  
        <li><a>GOURMET</a></li>
      </ul>
    </card>
  </sidebar>
</div>
