<%= form_with(model: [:admin, event_category], local: true) do |form| %>
  <%= render 'admin/shared/form_errors', entity: event_category %>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :event_category_name %>
  </div>
  
  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :event_category_description %>
  </div>
  
  <div class="actions">
    <%= form.submit %>  
  </div>
<% end %>
